.container {
  width: 90%;
}

.row {
	margin-top: 20px;
}

/*card styles*/
.card {
	cursor: pointer;
}

.card:hover {
  background-color: lightblue;
}

.card-title {
	padding: 10px;
}

.card-step {
	width: 20px;
	height: 20px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: auto;
}

.card-control-div {
  position: relative;
  height: 40px;
  width: 100%;
}

.card-control-box {
	position: absolute;
	top: 15px;
	border: solid 1px grey;
	height: 10px;
	width: 100%;
	border-radius: 5px;
	z-index: 0;
	background-color: white;
}

.card-control-play {
	position: relative;
	width: 40px;
	height: 40px;
	border: solid 1px grey;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: auto;
	text-align: center;	
	background-color: white;
	z-index: 2;
}

.card-control-play:hover {
  background-color: gold;
  cursor: pointer;
}

.card-play-icon {
	font-size: 40px;
}

/*modal styles*/

.modal-content {
  padding: 10px !important;
}

#modal-input {
  font-size: 2rem;
  margin-bottom: 5px;
}

.modal-body {
	margin: 0;
}

.modal-step-row {
  margin: 15px 0 15px 0;
}

.modal-step {
	width: 40px;
	height: 40px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: auto;
}

.modal-control-div {
  position: relative;
  height: 40px;
  width: 100%;
  margin-top: 15px;
}

.modal-control-box {
	position: absolute;
	top: 15px;
	left: 0px;
	border: solid 1px grey;
	height: 10px;
	width: 100%;
	border-radius: 5px;
	z-index: 0;
	background-color: white;
}

h4 {
	margin: 0;
}

.modal-footer {
	padding-right: 10px !important;
}

.modal-buttons

